@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if(ViewBag.exist==false){

    <h1 style="color=red;">User not found !!</h1>

    }
}
<!-- Pills navs -->
<div class="w-100">
    <!-- Pills navs -->
    <!-- Pills content -->
    <div class="tab-content">
        <div class="tab-pane fade show active d-flex align-items-center flex-column" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <img src="~/logo.png" height="150px" width="150px" class="my-5"/>
            <form class="d-flex flex-column align-items-center" method="post" , asp-controller="Auth" asp-action="login">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginName">Username</label>
                    <input type="text" name="loginName" id="loginName" class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginPassword">Password</label>
                    <input type="password" name="loginPassword" id="loginPassword" class="form-control" />
                </div>

                <label class="form-label float-left" for="loginName">Pick a Role</label>

                <select id="role" name="role" class="form-select mb-3" aria-label="Default select example">
                    <option value="-1">Select A Role </option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                    }
                </select>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="/Auth/signup">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>