@model Gestion_note.DTO.StudentAddDTO
@{
}
<div class="d-flex align-items-center justify-content-center my-3">
    <h3>Add Student</h3>
</div>
<div class="container-sm ">
    <!-- Pills navs -->
    <!-- Pills content -->

    <div class="tab-pane fade show active d-flex align-items-center flex-column justify-content-center" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form class="d-flex flex-column align-items-center w-100" method="post" asp-controller="Student" asp-action="Add">
            <!-- Email input -->
            <div class="form-outline mb-4 w-100">
                <label class="form-label" for="loginName">Name</label>
                <input type="text" id="loginName" class="form-control" asp-for="Name" name="Name" />
            </div>

            <div class="form-outline mb-4 w-100">
                <label class="form-label" for="loginName">Email</label>
                <input type="email" id="loginName" class="form-control" asp-for="Email" name="Email" />
            </div>

            <div class="form-outline mb-4 w-100">
                <label class="form-label" for="loginName">Password</label>
                <input type="password" id="loginName" class="form-control" asp-for="Password" name="Password" />
            </div>

            <label class="form-label float-left" for="loginName">Choisir un Filier</label>

            <select id="filierId" asp-for="FilierId" name="FilierId" class="form-select mb-3" aria-label="Default select example">
                <option value="-1">Select A Class</option>

                @foreach(var filier in ViewBag.Filier){
                    <option value="@filier.Id">@filier.Name</option>
                }
            </select>
            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Add Teacher</button>
        </form>
    </div>

