@model Gestion_note.Models.Filier
@{
}
<div class="d-flex align-items-center justify-content-center my-3">
    <h3>Edit Filiere</h3>
</div>
<div class="container-sm ">
    <!-- Pills navs -->
    <!-- Pills content -->

    <div class="tab-pane fade show active d-flex align-items-center flex-column justify-content-center" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form class="d-flex flex-column align-items-center w-100" method="post">
            <div class="form-outline mb-4 w-100">
                <label class="form-label" for="Name">Name</label>
                <input type="text" value="@Model.Name" id="Name" class="form-control" asp-for="Name" />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Edit Filiere</button>
        </form>
    </div>

